<div class="centered-content">
    <div class="task-manager">
        <div class="side-bar has-background-white">
            <h1 class="title has-text-primary">
                Liste
            </h1>

            <div class="list-menu">
                <a href="#" class="list-menu-item">
                    <p>item 1</p>
                </a>
            </div>
            <button class="button is-primary has-text-white">+ Nouvelle liste</button>
        </div>
        <div class="task-list has-background-light">
            <h1 class="title has-text-primary">
               Tâche
            </h1>
            <!-- Quelque tache -->
            <div class="task">
                <p>Tache numero une</p>
            </div>
        </div>
    </div>
</div>